{% block body %}
<div class="card" id="{{ entry.key }}">
    <div class="card-body">
        <h4 class="card-title center mb-3">{{ entry.title }}</h4>
        <div class="row mb-3">
            <div class="col-10"></div>
            <div class="col-2"><img src="/static/crossref.ico"></div>
        </div>
        <div class="row mb-3">
            <h5 class="col-10 card-title">{{ entry.key }}</h5>
            <div class="col-2 card-text">{{entry.year}}</div>
        </div>

        <!-- Authors -->
        <div class="row mb-3">
            <div class="col-2 card-text">Authors</div>
            <div class="col-4 list-group">
                {% for author in authors %}
                    <div class="list-group-item" hx-get="/author/{{author.id}}" hx-target="#main" hx-push-url="true">{{ author.printable_name }}</div>
                {% endfor %}
            </div>
        </div>

        {% if type_include %}
            {% include type_include %}
        {% endif %}

        {% if files_loaded %}
            {% include 'entry/files.html' %}
        {% else %}
            <div class="mb-3 card-text" hx-get="/entry/{{ entry.id }}/file" hx-swap="outerHTML">Load Files</div>
        {% endif %}

        <!-- Keywords -->
        {% if show_keywords %}
            {% include 'keyword/keyword_elem.html' %}
        {% endif %}

        <div class="my-3" hx-get="/entry/edit/{{ entry.id }}" hx-swap="outerHTML">Edit Entry</div>
    </div>
</div>

<div hx-get="/entry/{{entry.id}}" hx-trigger="reloadEntry from:#main" hx-target="#main" hx-swap="innerHTML"</div>

{% endblock %}
