<div id="upload_accordion" class="accordion">

    <!-- Bibtex Upload -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#area_bibtex" aria-expanded="true" aria-controls="area_bibtex">
                Import From Bibtex
            </button>
        </h2>
        <div id="area_bibtex" class="accordion-collapse collapse show" data-bs-parent="#upload_accordion">
            <div class="accordion-body">
                <form hx-post="/entry/create/bibtex">
                    <div class="mb-3">Please Paste bibtex below</div>
                    <div class="mb-3">
                        <textarea class="form-control" name="bibtex" cols="50" rows="15"></textarea>
                    </div>
                    <button class="mb-3 btn btn-primary" type="submit">Create Entry</button>
                </form>
            </div>
        </div>
    </div>


    <!-- DOI Upload -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#area_doi" aria-expanded="false" aria-controls="area_doi">
                Import DOI
            </button>
        </h2>
        <div id="area_doi" class="accordion-collapse collapse" data-bs-parent="#upload_accordion">
            <div class="accordion-body">
                <form hx-post="/entry/create/doi">
                    <div class="row mb-3">
                        <label class="col-2 col-form-label" for="doi">DOI</label>
                        <div class="col-10"><input class="form-control" id="doi" name="doi" type="text"></div>
                    </div>
                    <button class="mb-3 btn btn-primary" type="submit">Create Entry</button>
                </form>
            </div>
        </div>
    </div>

</div>
